body {
  background-color: rgb(221, 218, 217);
}

.Fashion {
  font-size: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 15px;
  display: flex;
}

.Fashion a {
  color: rgb(234, 37, 211);
  font-weight: bold;
  list-style: none;
  text-decoration: none;
}

.kategori {
  padding: 15px;
  margin: -10px;
}

.kategori a {
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  list-style: none;
  text-decoration: none;
}

.kategori-liste {
  justify-content: space-around;
  justify-content: center;
}

.kategori-liste a {
  font-size: 18px;
  color: black;
  text-decoration: none;
  letter-spacing: 0.5cqw;
  justify-content: space-around;
  justify-content: center;
}

.accesories {
  background-color: rgb(254, 197, 249);
  padding: 10px;
  margin: 10px;
}

.bluser {
  background-color: rgb(254, 197, 249);
  margin: 10px;
}

.t-shirts {
  background-color: rgb(254, 197, 249);
  margin: 10px;
}

.bukser {
  background-color: rgb(254, 197, 249);
  margin: 10px;
}

.shorts {
  background-color: rgb(254, 197, 249);
  margin: 10px;
}

.kjoler {
  background-color: rgb(254, 197, 249);
  margin: 10px;
}
