body {
  background-color: rgb(221, 218, 217);
}

.Fashion {
  font-size: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 15px;
  display: flex;
}

.Fashion a {
  color: rgb(234, 37, 211);
  font-weight: bold;
  list-style: none;
  text-decoration: none;
}

.kategori {
  padding: 15px;
  margin: 20px;
}

.kategori a {
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  list-style: none;
  text-decoration: none;
}

.kategori-liste {
  background-color: aliceblue;
  padding: 20px;
  padding-top: 10px;
}

.kategori-liste a {
  background-color: rgb(254, 197, 249);
  font-size: 18px;
  color: black;
  text-decoration: none;
  letter-spacing: 0.5cqw;
}

.accesories {
  display: flex;
  padding: 10px;
  margin-left: 40px;
  margin-right: 1170px;
  margin-bottom: 10px;
}

.bluser {
  display: flex;
  padding: 10px;
  margin-top: -50px;
  margin-left: 500px;
  margin-right: 630px;
  margin-bottom: 10px;
}

.t-shirts {
  display: flex;
  padding: 10px;
  margin-left: 40px;
  margin-right: 1220px;
  margin-bottom: 10px;
}

.bukser {
  display: flex;
  padding: 10px;
  margin-top: -50px;
  margin-left: 500px;
  margin-right: 790px;
  margin-bottom: 10px;
}

.shorts {
  display: flex;
  padding: 10px;
  margin-left: 40px;
  margin-right: 1250px;
  margin-bottom: 10px;
}

.kjoler {
  display: flex;
  padding: 10px;
  margin-top: -50px;
  margin-left: 500px;
  margin-right: 790px;
  margin-bottom: 10px;
}
